<nav>
    <input type="checkbox" id="nav" class="hidden">
    <label for="nav" class="nav-btn">
        <i></i>
        <i></i>
        <i></i>
    </label>
    <div class="logo">
        <img src="../../assets/logo.png" alt="">
    </div>
    <div class="search-box">
        <input class="search-txt" type="text" name="" placeholder="Type to search">
        <a class="search-btn" href="#">
        <i class="fa fa-search" aria-hidden="true"></i></a>

    </div>

    <div class="nav-wrapper">
        <ul>
            <li><a class="fa fa-user-circle-o" href="#">Mon compte</a></li>
            <li><a class="fa fa-heart" href="#">Mes favoris</a></li>
            <li><a class="fa fa-shopping-cart" href="#">Mon panier</a></li>
        </ul>
    </div>
</nav>
